<form [formGroup]="perfil">

<div class="formGroup">
    <label for="name" form="label">Name</label>
    <input type="text" id="name" name="name" formControlName="name" class="form-control">
    <div *ngIf="perfil.get('name')?.touched && perfil.get('name')?.errors?.['required']" 
    class="alert alert-danger  mt-2">This field is Required </div>
    <!--<div *ngIf="perfil.get('name)?.touched && perfil.get('name')?.errors?.['minlength'] " 
    class="alert alert-danger mt-2 "></div>-->
</div>
<div class="formGroup">
    <label for="correo" form="label">Correo Electronico</label>
    <input type="text" id="correo" name="correo" formControlName="name" class="form-control">
</div>
<div class="formGroup">
<label for="foto" form="label"> Foto de Perfil</label>
<input type="text" id="foto" name="foto" formControlName="foto" class="form-control">
</div>
<div class="formGroup">
    <label for="foto" form="label">biografia</label>
    <input type="text" id="foto" name="foto" formControlName="foto" class="form-control">
    </div>
    <div class="d-grid gap-2 col-3 float-end">
        <button type="submit" class="btn btn-danger btn-lg">Actualizar Perfil</button>
    </div>
</form>
