<form [formGroup]="loging" (ngSubmit)="onLogin()">
  <div class="mb-6">
    <label for="email" class="form-label">Email</label>
    <input type="text" class="form-control" id="email" name="email" formControlName="email">
    <div *ngIf="loging.get('email')?.touched && loging.get('email')?.errors?.['required']" 
         class="alert alert-danger mt-2">This Field is Required</div>
    <div *ngIf="loging.get('email')?.touched && loging.get('email')?.errors?.['email']" 
         class="alert alert-danger mt-2">Please enter a valid email</div>
  </div>

  <div class="mb-6">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" formControlName="password">
    <div *ngIf="loging.get('password')?.touched && loging.get('password')?.errors?.['required']" 
         class="alert alert-danger mt-2">This Field is Required</div>
    <div *ngIf="loging.get('password')?.touched && loging.get('password')?.errors?.['minlength']" 
         class="alert alert-danger mt-2">Password must be longer than {{loging.get('password')?.errors?.['minlength']?.requiredLength}} characters</div>
  </div>

  <div class="d-grid gap-2 col-3 float-end">
    <button type="submit" class="btn btn-danger btn-lg">Send</button>
  </div>
</form>
